/* CSS declarations go here */
#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

  .demo-card-square.mdl-card {
    width: 200px;
    height: 200px;
    float: left;
    margin: 1rem;
    position: relative;
    border-style: solid;
    border-width: 0.5px;
    border-color: #B38D53;
    border-radius: 10px;
  }
  
  .demo-card-square.mdl-card:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  }
  
  .demo-card-square > .mdl-card__title {
    color: #fff;
    background: url("/SalesforceLogo.png") center / cover;
  }
  
  .demo-card-square > .mdl-card__accent {
    background: #ff9800;
  }

  .mdl-button {
  	
  	height: 70px;
  }

  .material-icons.md-24 { font-size: 50px; }

